<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pesquisar Livros | Sistema de Biblioteca</title>
    <link rel="stylesheet" href="/css/user.css">
    <script src="/javascript/busca_livro.js" defer></script>
</head>

<body>

<header>
    <h1>Sistema de Biblioteca</h1>
</header>

<nav class="menu-user">
    <a href="busca" class="active">Pesquisar Livros</a>
    <a href="/emprestimouser">Meus Empréstimos</a>
    <a href="/dados">Meus Dados</a>

    <span class="menu-separator"></span>

    <a href="/logout" class="logout">Sair</a>
</nav>

<main>
    <div class="container">
        <h2>Pesquisar Livros Disponíveis</h2>


        <form class="filtros" id="formBuscarLivro" method="GET">
            <input
                    type="text"
                    name="titulo"
                    placeholder="Digite o nome do livro"
            >

            <select name="categoria">
                <option value="">Todas</option>
                <option value="informatica">Informática</option>
                <option value="saude">Saúde</option>
                <option value="infantil">Infantil</option>
                <option value="outros">Outros</option>
            </select>

            <button type="submit">Listar</button>
        </form>


        <table>
            <thead>
            <tr>
                <th>Código</th>
                <th>Livro</th>
                <th>Autor</th>
                <th>Categoria</th>
                <th>Ação</th>
            </tr>
            </thead>

            <tbody id="tabelaLivros"></tbody>
        </table>

    </div>
</main>

</body>
</html>
