html, body {
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove paddings padrão */
    height: 100%; /* Garante que o html ocupe 100% da altura */
}

body {
    min-height: 100vh; /* Altura mínima de 100% da altura da viewport */
    /* Para largura: */
    width: 100%; /* Opcional, pois já é padrão, mas pode ser explícito */
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
}

a {
  text-decoration: none; 
}

#en1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#listabt {
    display: grid;
    grid-template-columns: 1fr 1fr; /* duas colunas */
    gap: 5px ; /* espaçamento entre os botões */
    width: 400px;
}

.bt1,
.bt2 {
    width: 150px;
    height: 40px;
}

.bt3 {
    grid-column: span 2; /* ocupa as duas colunas */
    width: 360px;
    height: 40px;
}
