<!doctype html>
<html lang="pt-BR" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login | Sistema de Biblioteca</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body class="login-page">

<div class="login-container">
    <h1>Sistema de Biblioteca</h1>
    <h2>Acesso ao Sistema</h2>

    <form id="fromlogin" method="post">
        <label>Email</label>
        <input type="text" placeholder="Digite seu Email">

        <label>Senha</label>
        <input type="password" placeholder="Digite sua senha">

        <button type="submit">Entrar</button>
        <div class="login-divider"></div>
    </form>
    <a href="/register" class="btn-cadastro">
        Criar uma conta
    </a>
    <p class="login-footer">
        © 2025 Sistema de Biblioteca
    </p>
</div>

</body>
</html>
