<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastrar Usuário | Sistema de Biblioteca</title>
 <link rel="stylesheet" href="/css/adc_user.css">

</head>

<body>

<header>
  <h1>Sistema de Biblioteca</h1>
</header>

<nav>
  <a href="index.html">Início</a>
  <a href="cadastrar.html">Cadastrar Livro</a>
  <a href="listar.html">Listar Livros</a>
  <a href="emprestimo.html">Empréstimos</a>
</nav>

<main>
  <div class="container">
    <h2>Cadastrar Usuário</h2>

   <form class="form-grid" id="formCadastro">

      <div class="field">
        <label>Nome Completo</label>
        <input type="text" placeholder="Nome do usuário" name="nome">
      </div>

      <div class="field">
        <label>Senha</label>
        <input type="password" name="senha">
      </div>

      <div class="field">
        <label>E-mail</label>
        <input type="email" placeholder="email@exemplo.com" name="email">
      </div>

      <div class="field">
        <label>Confirmar Senha</label>
        <input type="password" name="confsenha">
      </div>

      <div class="field full-width">
        <label>CPF</label>
        <input type="text" placeholder="CPF do usuário" name="cpf">
      </div>

      <!-- PERFIL -->
      <div class="field">
        <label>Perfil</label>
        <select name="perfil">
          <option value="">Selecione o perfil</option>
          <option value="ADMIN">Administrador</option>
          <option value="BIBLIOTECARIO">Bibliotecário</option>
          <option value="ATENDENTE">Atendente</option>
        </select>
      </div>

      <!-- ESPAÇO VAZIO PARA ALINHAR -->
      <div></div>

      <!-- BOTÃO -->
      <div class="full-width">
        <button type="submit">Cadastrar Usuário</button>
      </div>

    </form>


  </div>
</main>
<script src="/static/javascript/cadastro_user.js"></script>
</body>
</html>