<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Listar Livros</title>
  <link rel="stylesheet" href="/static/css/admin.css">


</head>
<body>

<header>
  <h1>Sistema de Biblioteca</h1>
</header>

<nav>
  <a href="index.html">Início</a>
  <a href="cadastrar.html">Cadastrar Livro</a>
  <a href="emprestimo.html">Empréstimos</a>
  <a href="adm_adc_user.html">Cadastrar Usuario</a>
</nav>


<main>
    
    <div class="container">
        
        <div class="search">
            <input type="text" placeholder="Pesquisar livro">
        </div>
  

  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>001</td>
        <td>Exemplo de Livro</td>
        <td>Autor Exemplo</td>
        <td>Disponível</td>
        <td class="actions">
         <button>Editar</button>
         <button>Excluir</button>
        </td>

      </tr>
    </tbody>
  </table>
    </div>
  
</main>

</body>
</html>
