<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Meus Dados</title>
  <link rel="stylesheet" href="/static/css/user.css">
</head>

<body>

<header>
  <h1>Sistema de Biblioteca</h1>
</header>

<nav class="menu-user">
  <a href="inicio_busca.html">Pesquisar Livros</a>
  <a href="user.html">Meus Empréstimos</a>
  <a href="dados.html" class="active">Meus Dados</a>

  <span class="menu-separator"></span>

  <a href="login.html" class="logout">Sair</a>
</nav>


<main>
  <div class="container dados">
    <h2>Meus Dados</h2>

    <div class="dados-lista">
      <p><span>Nome:</span> Marcelo Prefeito</p>
      <p><span>Usuário:</span> Prefeitão</p>
      <p><span>Email:</span> Brandao@exemplo.com</p>
      <p><span>Perfil:</span>admin</p>
    </div>
  </div>
</main>

</body>
</html>
